<div class="container my-4 d-none d-md-block">
    <img src="images/logo.svg" style="max-width: 60%" alt="National Cancer Institute Logo">
</div>

<div class="bg-primary text-light py-2 d-none d-md-block">
    <h1 class="container my-0 h5">
        <span class="row">
            <%- title %>
        </span>
    </h1>
</div>
