<div class="container text-left text-md-center py-4">
    <ul class="list-inline">
        <li class="d-block d-md-inline list-inline-item">
            <a href="https://www.cancer.gov/" class="text-light">Home</a>
        </li>

        <li class="d-none d-md-inline list-inline-item">|</li>

        <li class="d-block d-md-inline list-inline-item">
            <a href="mailto:<%- supportEmail %>" class="text-light">Support</a>
        </li>

        <li class="d-none d-md-inline list-inline-item">|</li>

        <li class="d-block d-md-inline list-inline-item">
            <a href="https://www.cancer.gov/global/web/policies" class="text-light">Policies</a>
        </li>

        <li class="d-none d-md-inline list-inline-item">|</li>

        <li class="d-block d-md-inline list-inline-item">
            <a href="https://www.cancer.gov/global/web/policies/accessibility" class="text-light">Accessibility</a>
        </li>

        <li class="d-none d-md-inline list-inline-item">|</li>

        <li class="d-block d-md-inline list-inline-item">
            <a href="https://cancer.gov/global/viewing-files" class="text-light">Viewing Files</a>
        </li>

        <li class="d-none d-md-inline list-inline-item">|</li>

        <li class="d-block d-md-inline list-inline-item">
            <a href="https://www.cancer.gov/global/web/policies/foia" class="text-light">FOIA</a>
        </li>
    </ul>

    <ul class="list-inline">
        <li class="d-block d-md-inline list-inline-item">
            <a href="https://www.hhs.gov/" class="text-light">U.S. Department of Health and Human Services</a>
        </li>

        <li class="d-none d-md-inline list-inline-item">|</li>

        <li class="d-block d-md-inline list-inline-item">
            <a href="https://www.nih.gov/" class="text-light">National Institutes of Health</a>
        </li>

        <li class="d-none d-md-inline list-inline-item">|</li>

        <li class="d-block d-md-inline list-inline-item">
            <a href="https://www.cancer.gov/" class="text-light">National Cancer Institute</a>
        </li>

        <li class="d-none d-md-inline list-inline-item">|</li>

        <li class="d-block d-md-inline list-inline-item">
            <a href="https://usa.gov/" class="text-light">USA.gov</a>
        </li>
    </ul>

    <div>NIH ... Turning Discovery Into Health &reg;</div>
</div>
