<nav class="navbar navbar-expand-md navbar-dark bg-dark shadow-sm py-0">
    <div class="container px-md-0">
        <a class="navbar-brand d-inline-block d-md-none" href="#">
            <%- title %>
        </a>
        <button class="navbar-toggler border-0" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation" data-toggle="collapse" data-target="#navbar-content">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="navbar-nav w-100">
                <% for (let route of navbarLinks) { %>
                <li class="nav-item">
                    <a href="<%- `${rootUrl}${route.path}` %>" class="<%- route == currentRoute && 'active' %> nav-link text-uppercase px-4 py-2">
                        <%- route.name %>
                        <% if (route == currentRoute) { %>
                        <span class="sr-only">(current)</span>
                        <% } %>
                    </a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
