{
    "port": 3000,
    "production": true,
    "folders": {
        "logs": "../logs",
        "input": "../input",
        "output": "../output"
    },
    "title": "Analysis Tools App Name",
    "supportEmail": "WebToolAdmin@mail.nih.gov",
    "rootUrl": "/app/",
    "navbarLinks": [
        {"name": "Home", "path": ""},
        {"name": "Angular", "path": "angular/"},
        {"name": "Help", "path": "help/"}
    ]
}