body {
  min-width: 320px;
}

.bg-primary-darker {
  background-color: $primary-darker !important;
}

.bg-primary-gradient {
  background: linear-gradient(45deg, $primary, $primary-darker) !important;
}

.btn {
  font-weight: 500;
}

.navbar-dark {
  .navbar-toggler {
    border: none;
  }

  .navbar-nav .nav-link {
    color: white;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    transition: all 0.1s;

    &.active {
      color: #2e2e2e;
      border-bottom-color: $primary;
      background-color: #f1f1f1;
    }
    &:hover {
      color: #2e2e2e;
      background-color: #f1f1f1;
    }
  }
}
