.border-underline {
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.list-style-none {
    list-style: none;
    padding-left: 0;
}

.inline-list > li {
    display: inline-block;
    margin-right: 1rem;
}

.inline-list > li:not(:last-child):after {
    content: '|';
    margin-left: 1rem;
    display: inline-block;
}

.pagination {
    display: flex;
    justify-content: flex-end;
}

.font-weight-semibold {
    font-weight: 500;
}