<link rel="stylesheet" href="angular/styles.css">
<h1 class="display-4">Angular Sample</h1>
<hr>
<p class="lead">
    This is a placeholder for a sample Angular component.
</p>

<app-root></app-root>

<script src="angular/runtime.js"></script>
<script src="angular/polyfills.js"></script>
<script src="angular/main.js"></script>
<script src="angular/styles.css"></script>
