<h1 class="display-4">Internal Server Error</h1>
<hr>
<p class="lead">
    Unfortunately, an error has occurred. If this issue persists, please contact the administrator at: <a href="mailto:<%- supportEmail %>"><%- supportEmail %></a>.
</p>